body{
    background-color: rgb(110, 220, 235);
}
#dogButton{
    background-color: rgb(208, 27, 148);
    position: relative;
    left: 45%;
}
h1{
    text-align: center;
}
#dogImage{
    margin-top: 100px;
    margin-left: 35%;
}